@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>School Management System</h1>
    <p class="lead">This WebSite is only a test for my DataBase Course Desgin.</p>
    <p>
        <a href="~/Instructor/InstructorLogin" class="btn btn-primary btn-lg">Instructor Login &raquo;</a>
        <a href="~/Student/StudentLogin" class="btn btn-primary btn-lg">Student Login &raquo;</a>
        <a href="~/DBAHome/Index" class="btn btn-primary btn-lg">DBA Manage &raquo;</a>
    </p>
</div>
